@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(13, 5, 102);
}
@media (max-width:768px){
    .header .container{
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .leftHeaderSection{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
    }
    .brandRow{
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
        width: 100%;
    }
    .logo{
        line-height: 32px;
    }
    .headerMobileIcons{
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .navIcon{
        height: 24px;
        width: 24px;
        cursor: pointer;
        object-fit: contain;
    }

    .navbar{
        display: none;
    }
    .navbar, .headerButtons{
        display: none;
    }


    /* banner section */

    .bannerContent{
        width: 100%;
    }

    .innerSquare{
        width: 100%;
    }
    .bannerContent h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        word-break: break-word;
    }

    .bannerContent p{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .bannerButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftBannerButton{
    padding: 10px 36px;
    border-radius: 37px;
    border: 1px solid #23A6F0;
    background-color: #23A6F0;
    }

    .bannerButton{
    padding: 10px 36px;
    }

    .values ul{
        display: flex;
        flex-direction: column;
    }

    .reviewersPicture{
        display: none;
    }

    .reviewCards{
        display: flex;
        flex-direction: column;
    }

    .reviewCard{
        max-width: 342px;
        
    }

    .projectCards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footersSection{
        display: flex;
        flex-direction: column;
        padding: 5px 87px;
    }

    .bottomFooterInfo{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 25px 89px;
    }

    .footerBottom{
    background-color: #252B42;
    }

    .bottomFooterInfo h6{
        color: #FFFFFF;
    }



}