@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(13, 5, 102);
}

.container{
    max-width: 1200px;
    margin: auto;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.leftHeaderSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 45px; */
    padding-top: 17px;
    padding-bottom: 16px;
    margin: 0 auto;
}


.logo{
    padding: 13px 42px 13px 0;

}

.logo a{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 41px;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 21px;

}

.header ul li a{
    /* padding: 20px 0 16px 0px ; */
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF;

}

.navbar{
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 235px;

}

.headerButtons{
    display: flex;
    padding-top: 19px;
    padding-bottom: 20px;
    gap: 45px;
}

.headerButtons a{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.becomeMemberButton{
    padding: 15px 25px 15px 25px;
    background-color: #23A6F0;
    display: flex;
    gap: 15px;
    border-radius: 5px;

}

.loginButton{
    padding: 15px 25px 15px 25px;

}


/* banner section */

.banner {
  background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%),
    url(../images/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
/* .banner {
    background: linear-gradient(89.85deg, #000000 0.13%, #000000 0.14%, rgba(0, 0, 0, 0) 99.56%),
    url(../images/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin-top: -104px;
} */

.bannerContentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* padding-top: 112px; */
    padding-left: 45px;
    /* padding-bottom: 112px; */
}

.bannerContent h1{
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2x;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.bannerContent p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 35px;
} 

.bannerContent{
    /* width: 1050px; */
    /* display: flex;
    justify-content: flex-start; */
    /* height: 566px; */
    /* width: 100%; */
    /* padding-top: 112px; */
    /* background-color: #000000; */
}

.bannerButtons{
    display: flex;
    gap: 10px;

}

.innerSquare{
    width: 599px;
    height: 342px;
}
.leftBannerButton{
    padding: 15px 36px;
    border-radius: 37px;
    border: 1px solid #23A6F0;
    background-color: #23A6F0;
}
.leftBannerButton a{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.bannerButton{
    padding: 15px 36px;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
    /* transition: all 0.3s ease; */
}

/* .bannerButton:hover{
    border-radius: 37px;
    border: 1px solid #23A6F0;
    background-color: #23A6F0;
} */
.bannerButton a{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}



.values{
    background-color: #252B42;
}
.values .container{
    padding: 96px 44px;
}

.values ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 35.5px;
}

.values ul li{
    color: #FFFFFF;
    padding: 40px 45.5px 40px 45.5px ;
}

.values .valueIcon{
    margin-bottom: 30px;
}

.values h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;

}

.values p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}


/* Industry reviews section */

.industryReviewsSection{
    background-color: #8EC2F2;
}

.indusryReviewHeader{
    margin-top: 112px;
}

.industryReviews{
    padding-top: 112px;
    padding-bottom: 80px;
}

.industryReviewsHeader{
    display: block;
    text-align: center;
    /* margin-left: 328px;
    margin-right: 328px; */
    margin-bottom: 80px;
}

.industryReviewsHeader h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.industryReviewsHeader p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


.cardbackground{
    
    /* width: 566px; */
    padding: 40px 24px 32.99px 42px;
}

.reviewCards{
    display: flex;
    /* gap: 30px;  */
    justify-content: center;
    align-items: center;
}

.reviewCard{
    background-color: #FFFFFF;
    padding: 30px 40px;
}
.reviewCardContent h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;

}

.reviewCardContent h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 15px;
}

.reviewCardContent .star-rating{
    margin-bottom: 15px;

}

.reviewersPicture{
    width: 72px;
    height: 72px;
    position: absolute;
    overflow: hidden;
    /* top: 68px;
    left: 65px; */
    transform: translate(-80px);

}
.reviewersPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.reviewCardContent p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer{
    background-color: #252B42;
}

.footersSection{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    /* justify-content: center; */
    padding-top: 50px;
    padding-bottom: 52px;
}

.footerInfo h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-right: 33px;
    margin-bottom: 20px;
}

.footerInfo ul{
    list-style: none;
}
.footerInfo ul li{
    margin-bottom: 10px;
}


.footerInfo ul li a{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF; 
}

.footerContactList h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footerContactItem{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footerContactItem h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footerBottom{
    background-color: #FFFFFF;
}

.bottomFooterInfo{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.bottomFooterInfo h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.bottomFooterIcons{
    display: flex;
    gap: 20px;
}


/* Industry Projects Section */

.projectCards{
    display: flex;
    gap: 30px;
}
.industryProjectsSection{
    background-color: #252B42;
}

.projectCard {
    position: relative;
    width: 100%;
    max-width: 331px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}
.projectCardImage{
    width: 331px;
    height: 452px;
    position: relative;

}

.projectCard img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.projectCardContent {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  color: #fff;
  z-index: 2;
}

.projectCard h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.projectCard p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

 .viewProjectButton {
  margin-bottom: 17.5px;
}
 .viewProjectButton a {
  /* display: inline-block;  */
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 10px 36px;
  border-radius: 37px;
  background-color: #23A6F0;
}

.industryProjectsHeader{
    padding-top: 112px;
    padding-bottom: 112px;
}

.industryReviewsHeader{
    display: block;
    text-align: center;
    /* margin-left: 328px;
    margin-right: 328px; */
    margin-bottom: 96px;
}

.industryReviewsHeader h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.industryReviewsHeader p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

/* Hamburger hidden by default */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}



/* responsive changes */

.brandRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

    .headerMobileIcons{
        display: none;
    }
    
    
    