*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

.header{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between
    
}

.header a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(0,0,1);
    padding-top: 27px;
    /* margin-left: 80px; */
    margin-bottom: 140px;
    
}

.header .logo{
    margin-left: 80px
}

.main{
    margin-bottom: 71px;
}

.navbar{
    padding-top: 27px;
    padding-right: 60px;
}

.navbar ul{
    display: flex;
    gap: 33px;
    list-style: none;
}

.container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.leftContent{
    margin-left: 148px;
}

.leftContent h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    margin-bottom: 40px;
}

.leftContent p{
    /* background-color: aqua; */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 47px;
    color: #21243D;
}

.leftContent a {
  background-color: #FF6464;
  font-size: 20px;
  line-height: 1;
  height: 50px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 17px 20px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(255, 100, 100, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.leftContent a:hover {
  background-color: #e05050;
  box-shadow: 0 6px 14px rgba(255, 100, 100, 0.4);
}

.image{
    text-align: right;
    flex: 1;
}

.image img{
    width: 243px;
    height: 243px;
    margin-right: 149px;
    /* margin-right: 180px; */
    object-fit: cover;
    border-radius: 50%;
}

.secondary{
    margin: auto;
    width: 1200px;
    height: 396px;
    background-color: #EDF7FA;
}

.secondary-header{
    display: flex;
    justify-content: space-between;
}

.secondary .recentPosts{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: 0px;
    margin-left: 148px;
    text-decoration: none;
    margin-top: 7px;
}


.secondary a{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-decoration: none;
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 27px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-left:  148px;
    margin-right: 148px;
}

.card{
    background-color: #FFFFFF;
    /* padding-left: 23px;
    padding-top: 24px;
    padding-right: 21px;
    padding-bottom: 7px; original from file seemed inappropriate so making evenly*/
    padding: 20px 30px;
    border-radius: 4px;
}

.card h3{
    font-weight: 700;
    font-size: 26px;
    color: #21243D;
    line-height: 32px;/*changed bcz original seemed to be bit incorrect*/
    letter-spacing: 0px;
    margin-bottom: 27px;
}

.internalSections{
    display: flex;
    gap: 12px;
    margin-bottom: 22px
}

.internalSections p{
    font-weight: 400;
    font-size: 18px;
    color: #21243D;
    line-height: 22px; /*changed bcz original seemed to be bit incorrect*/
    letter-spacing: 0px;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;  /*changed bcz original seemed to be bit incorrect*/
    letter-spacing: 0px;
    color: #21243D;
}

.lastPage h2{
    /* background-color: #21243D; */
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    line-height: 60px;
    letter-spacing: 0px;
    margin-top: 15px;
    margin-left: 146px;
}


.container2{
    width: 1200px;
    margin: auto;
    display: block;
    /* justify-content: space-between; */
    
}
.work{
    display: flex;
    align-items: flex-start;
    gap:18px;
    /* margin-bottom: 35px; */
    /* border-bottom: 1px solid #e0e0e0; */
}
.container2 img{
    width: 246px;
    height: 180px;
    margin-left: 146px;
}

.content{
    display: flex;
    gap: 26px;
    margin-bottom: 17px;
}

.rightContent a{
    /* background-color: aqua; */
    font-weight: 700px;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0px;
    text-decoration: none;
    color: #21243D;
    /* margin-bottom: 16px; */
}
.content .year{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 900;
    /* line-height: 60px; */
    letter-spacing: 0px;
    background-color: #142850;
    padding: 8px 15px;
    border-radius: 27px;
    color: #ffffff; 
}

.content .contentType{
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    color:#8695A4;
    margin-top: 26px;
}

.contentInfo{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color:#21243D;
    
}

.line {
  width: 858px;
  height: 1px;
  background-color: #E0E0E0;
  border: none;
  /* margin: 40px auto; spacing + center align */
  margin-left: 146px;
  margin-top: 35px;
  margin-right: 148px;
  margin-bottom: 35px;
}

.footerIcons{
    /* background-color: aqua; */
    padding-top: 51px;
    display: flex;
    gap: 35px;
    padding-left: 459px;
}

.footerIcons i{
    font-size: 34px;
    color: #21243D;
    margin-bottom: 20px;
    
}

.footerIcons .fa-brands fa-square-facebook{
    color: #D92231;
}



.container3{
    width: 1200px;
    margin: auto;
}

.copyright{
    padding-left: 464px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #21243D;
    margin-bottom: 50px; /* added just for visibility */
}

