/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;

    /* font-family: 'D', sans-serif; */
    /* background-color: #1a0202; */
}

.container{
    max-width: 1200px;
    margin: auto;
}

.headerSection{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 41px;

}

.headerSection .logo{
    margin-left: 128px;
    /* width: 711px;
    height: 26px; */
}

.navbar ul{
    display: flex;
    gap: 8px;
    list-style: none;
}

.headerSection a{
    text-decoration: none;
    color: #1a0202;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 0.3s ease;
}

.headerSection a:hover{
    border: 1px solid #FFFFFF ;
    border-radius: 16.5px;
}

.banner{
    background: 
    linear-gradient(rgba(14, 8, 22, 0.6), rgba(14, 8, 22, 0.6)),
    url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw;     */
    height: 100vh;
    /* height: 970px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -104px;
    text-align: center;
    margin-bottom: 128px;
}


.banner h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #ffff;
    margin-bottom: 32px;
}

.banner p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.watchButton{
    background-color:#6C00FF;
    display: inline-flex;
    border-radius: 28px;
    padding: 17px 32px;
}

.banner a{
    margin-left: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    
}

.services{
    display: flex;
    align-items: center;
    text-align: center;
}

.services h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    /* letter-spacing: 40%; */
    letter-spacing: 8px; 
    color: #6C00FF;
    text-transform: uppercase;
    margin-bottom: 16px;

}

.services h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 64px;
}

.serviceTypes{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;

} 
.serviceIcons {
  max-width: 310px;
  margin-bottom: 128px;
}

.iconWrapper {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 0 auto 32px;
  /* margin-bottom: 32px */
}

.iconWrapper img:first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.iconWrapper img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}


.serviceIcons h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.serviceIcons p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #393E46;
}

.features{
    display: flex;
    align-items: center;
    gap: 127px;
    /* margin-left: 109px; */
    margin-bottom: 128px;
}

.firstFeautureBox{
    display: flex;
    gap: 100px;
}
.secondFeatureBox{
    display: flex;
    gap: 100px;
}

.features .infoContent h3{
    font-weight: 600%;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.4em;
    /* letter-spacing: 7px; */
    text-transform: uppercase;
    color: #6C00FF;
    margin-bottom: 16px;
}

.features .infoContent h2{
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #222831;
    margin-bottom: 32px;
}

.features .infoContent p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #393E46;
    margin-bottom: 32px;
}

.features .infoContent ul{
    list-style: none;
}

.infoContent ul li{
    gap: 16px;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #393E46;
    align-items: center;
    text-align: center;
}

.infoContent ul li i{
    width: 16px;
    height: 16px;
    color: #6C00FF;
}

.featuresImage{
    position: relative;
    width: 507px;
    height: 432px;
}

.featuresImage .imageWrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #6C00FF;
    z-index: 0;
    transform: translate(32px, 32px);
}

.featuresImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.secondFeatureImage{
    position: relative;
    margin-left: 32px;
    width: 507px;
    height: 432px;
}

.secondFeatureImage .imageWrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #6C00FF;
    z-index: 0;
    transform: translate(-32px, -32px);
}

.secondFeatureImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.footer{
    padding-left: 185px;
    padding-right: 186px;
    padding-top: 128px;
    padding-bottom: 128px;
    display: block;
    align-items: center;
    text-align: center;
}

.footer .footerLogo{
    margin-bottom: 16px;
}

.footerContentList ul{
    display: flex;
    gap: 8px;
    list-style: none;
    margin-bottom: 16px;
    justify-content: center;
    text-align: center;


}

.footerContentList a{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #393E46;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.footer p{
    padding: 8px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #393E46;
}

.downArrowWrapper {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.downArrow {
  position: relative;
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.downArrow img:first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.downArrow img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22.660131454467795;
  height: 19.9932270050049;
  transform: translate(-50%, -50%);
  display: block;
}



